<div class="container">
  <form autocomplete="off" #lancamentoCadastoForm="ngForm">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="false" [showIcon]="true" name="vencimento" ngModel
          #vencimento="ngModel" required>
          <app-message [control]="vencimento" error="required" text="Informe uma data de vencimento."></app-message>
        </p-calendar>

      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="false" [showIcon]="true"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição {{descricao.errors | json}}</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">

        <app-message [control]="descricao" error="required" text="Informa uma descrição"></app-message>
        <app-message [control]="descricao" error="minlength"
          text="Minimo de {{descricao.errors?.minlength?.requiredLength}} chars. Você digitou apenas {{descricao.errors?.minlength?.actualLength}}">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <p-inputNumber mode="currency" currency="USD" locale="en-US" placeholder="Informe o valor" name="valor" ngModel
          required>
        </p-inputNumber>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" [filter]="true" ngModel required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" [options]="pessoas" placeholder="Selecione" ngModel required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea name="" id="" cols="12" rows="3"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="lancamentoCadastoForm.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascripc:;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
