body {
  margin: 0px;
  font-family: Arial, Verdana, sans-serif;
  color: #404c51;
}

label {
  font-weight: bold;
}


@media (min-width: 1200px){
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-valor{
  width: 120px;
  text-align: right;
}

.col-data{
  width: 120px;
  text-align: center;
}

.col-120px {
  width: 120px;
}

.col-acoes {
  width: 70px;
  justify-items: auto;
}
